@import "bootstrap/dist/css/bootstrap.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error-msg{
    margin-top: 0.25rem;
    font-size: .875em;
    color: #dc3545;
}